<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @transaction_type.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @transaction_type.operation %>
</p>

<%= link_to 'Edit', edit_transaction_type_path(@transaction_type) %> |
<%= link_to 'Back', transaction_types_path %>
