<h1>Lojas</h1>

<div id="store-list">
  <table id="store-list-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>CPF</th>
        <th>Representante</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @stores.each do |store| %>
        <tr>
          <td><%= store.name %></td>
          <td><%= store.cpf %></td>
          <td><%= store.owner %></td>
          <td>
            <button id="<%= store.id %>" class="bt-show-operations">Mostrar operações</button>
            <%= render partial: "transactions/transactions", locals: {store: store} %>
          </td>
        </tr>

      <% end %>
    </tbody>
  </table>
</div>